h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        h5 #[strong Cod. ???]
        p.mb-0 Escalar patrones de forma manual y sistematizada según procedimiento técnico y cuadro de tallas
        





