h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body        
        li Escalar patrones de forma manual y sistematizada según procedimiento técnico y cuadro de tallas
        





