h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark.mb-0
            li.mb-0 
                span Escalar patrones de forma manual y sistematizada según procedimiento técnico y cuadro de tallas
        





