.container#escalado

    .header-ecored
        h1 1. Escalado manual de prendas
    
    br

    .header-ecored
        h2 Introducción y contextualización - escalado

    .jumbotron.bg-white.shadow
        .sub-line.mt-0
            h3 ¿Qué es el escalado?
        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/img2.png").img-fluid
                        p.card__copy  Es el método o técnica implementado para ampliar o reducir un patrón base, molde o trazo de una talla a otra proporcionalmente.
                        p.mt-4 Las proporciones se identifican de acuerdo al cuadro de tallas o medidas estandarizadas.
                        p.mt-4 Para llevar a cabo un escalado, se implementan planos cartesianos que permiten identificar puntos de referencia, en las medidas de largos, anchos y contornos con sus proporciones que se diferencian entre una talla y otra.
        .row.justify-content-center.mt-4
            .col-11
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/q62l2sbPAaE', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        .sub-line
            h3 Plano cartesiano
        p.mt-5 Está formado por dos rectas perpendiculares, una horizontal y otra vertical que se entrecruzan en un punto.
        p La #[b recta horizontal] es llamada eje de las abscisas o de las equis (x)
        p La #[b recta vertical], eje de las ordenadas o de las yes, (y)
        p El punto donde se cortan recibe el nombre de origen (Punto cero o Punto muerto).
        p El plano cartesiano tiene como finalidad describir la posición de puntos, los cuales se representan por sus coordenadas o pares ordenados. 
        p Para la implementación del plano cartesiano trabajaremos con el sistema de medidas de mayor dominio
        img(src="assets/images/pages/img3.png", style="max-width: 100%").img-fluid.img-a
        .sub-line
            h3 Ejemplo
        p.mt-5 Si tomamos como punto de partida el punto de origen al hablar de reducir o aumentar podríamos acudir a los espacios negativos o Positivos del plano cartesiano.
        img(src="assets/images/pages/img4.png", style="max-width: 100%").img-fluid.img-a
        img(src="assets/images/pages/img5.png", style="max-width: 100%").img-fluid.img-a
        .sub-line
            h3 Ejemplo
        p Para entender cómo funciona el escalado desde plano cartesiano vamos a tomar como referencia un cuadrado.
        p Este cuadro es el molde base o talla base a trabajar.
        p De este cuadrado deben salir 2 figuras más para un total de 3 figuras, siendo este el punto intermedio.
        p La diferencia en #[b Ancho] es de #[b 2cm].
        p La diferencia en #[b Largo] es de #[b 2cm].
        p Se debe sacar 1 cuadrado más pequeño y 1 cuadrado más grande. Recuerde que todos los lados del cuadrado deben quedar iguales.
        img(src="assets/images/pages/img6.png", style="max-width: 100%").img-fluid.img-a
        img(src="assets/images/pages/img7.png", style="max-width: 100%").img-fluid.img-a
        img(src="assets/images/pages/img8.png", style="max-width: 100%").img-fluid.img-a
        .sub-line
            h3 Ejemplo
        p.mt-5 Para identificar las proporciones a aplicar, se debe trabajar con las siguientes medidas.
        p En este caso el punto base o el punto de partida es el Mediano la diferencia entre medida y medida es de 2 cm para aumentar y -2 cm para reducir.
        p Para aplicar en escalado se trabaja no con la diferencia, si no con las proporciones.
        img(src="assets/images/pages/img9.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.mt-5
            .col-10.col-md-8
                .card-media
                    .card-media__body                 
                        figure.card__figure
                            img(src="assets/images/pages/img2.png").img-fluid
                        h3.card__copy Cómo identificar las proporciones
                        p.mt-4 Si la diferencia entre una medida y otra es de 2cm.
                        p La proporción, equivale a la manera en la que se aplica en el plano, es decir:
                        .row.justify-content-center
                            .col-11
                                .list.align-items-start.mt-4
                                    .list__item
                                        .list__item__icon
                                            img(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                        p.mt-1 Si sobre el plano se aplica la medida completa, dicha medida equivale a 1 proporción 1 proporción será 2 cm.
                                .list.align-items-start.mt-2
                                    .list__item
                                        .list__item__icon
                                            img(src="assets/images/pages/v1.svg").img-fluid  
                                    .list__txt
                                        p.mt-1 Si sobre el plano se aplica la mitad de la medida, esto equivale a 1/2 proporción 1/2 proporción será 1 cm.
        img(src="assets/images/pages/img10.png", style="max-width: 100%").img-fluid.img-a
        .sub-line
            h3 Ejercicio de análisis
        .row.mt-5.align-items-center
            .col
                p Realice el escalado de la siguiente figura, teniendo en cuenta:
                .row.justify-content-center
                    .col-11
                        .list.align-items-start.mt-4
                            .list__item
                                .list__item__icon
                                    img(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mt-1 El cuadro de tallas asignado.
                        .list.align-items-start.mt-2
                            .list__item
                                .list__item__icon
                                    img(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mt-1 La talla base y las medidas.
                        .list.align-items-start.mt-2
                            .list__item
                                .list__item__icon
                                    img(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mt-1 Las diferencias entre talla y talla.
                        .list.align-items-start.mt-2
                            .list__item
                                .list__item__icon
                                    img(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mt-1 La asignación de proporciones, según tipo de plano a trabajar.
                        .list.align-items-start.mt-2
                            .list__item
                                .list__item__icon
                                    img(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mt-1 El punto de origen sobre el plano cartesiano y la ubicación de la figura.
                        .list.align-items-start.mt-2
                            .list__item
                                .list__item__icon
                                    img(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mt-1 El cuadro de tallas asignado.
                        .list.align-items-start.mt-2
                            .list__item
                                .list__item__icon
                                    img(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mt-1 La talla base y las medidas.
                        .list.align-items-start.mt-2
                            .list__item
                                .list__item__icon
                                    img(src="assets/images/pages/v1.svg").img-fluid  
                            .list__txt
                                p.mt-1 Las diferencias entre talla y talla.
            .col-auto
                img(src="assets/images/pages/img11.png", style="max-width: 100%").img-fluid.img-a
        .row.align-items-center
            .col-auto
                img(src="assets/images/pages/img12.png", style="max-width: 100%").img-fluid.img-a
            .col
                p El cuadro de tallas asignado.
                p La talla base y las medidas.
                p Las diferencias entre talla y talla.
        .row.align-items-center
            .col-auto
                img(src="assets/images/pages/img13.png", style="max-width: 100%").img-fluid.img-a
            .col
                p Asignación de proporciones, Plano por mitad.
        .row.align-items-center
            .col-auto
                img(src="assets/images/pages/img14.png", style="max-width: 100%").img-fluid.img-a
            .col
                p En este caso que el punto de origen está en un punto que divide el largo total.
                p Se debe tomar la proporción y aplicar mitad hacia arriba - mitad hacia abajo para el largo total y no perder la proporción de la figura.
        .row.align-items-center
            .col-auto
                img(src="assets/images/pages/img15.png", style="max-width: 100%").img-fluid.img-a
            .col
                p En este caso que el punto de origen está en un punto base de construcción.
                p se debe tomar la proporción y aplicar toda hacia arriba para largo total y no perder la proporción de la figura.
                p Sin embargo, debe tener en cuenta el vértice A.B modifica a su altura, para no perder la proporción de la figura.
        .sub-line
            h3 Ejercicios de elaboración
        p.mt-5 Teniendo en cuenta el ejercicio de análisis y sus respectivas explicaciones, realice el escalado de la figura en todas las tallas, con los 2 puntos de origen propuestos en la explicación anterior.
        p Para poder realizar dicha actividad necesita:
        .row.justify-content-center
            .col-11
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Lápiz.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Lápices de colores.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Papel.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Reglas en cm.
        img(src="assets/images/pages/img16.png", style="max-width: 100%").img-fluid.img-a
        img(src="assets/images/pages/img17.png", style="max-width: 100%").img-fluid.img-a
        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_16.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Introducción y contextualización - escalado
    
    br#escalado1

    .header-ecored
        h2 1.1 Escalado de falda
    
    .jumbotron.bg-white.shadow
        p Cuando se va a iniciar con el proceso de escalado, se debe tener en cuenta referencias como cuadros de tallas, metodología y lógica de construcción, pieza o molde que se va escalar, es decir en este caso se hace referencia a una base inferior de falda, quiere decir un molde que no tiene margen de costura, ni es una prenda, se trabajará el escalado de una base en las diferentes tallas, de igual manera se debe tener en cuenta el tipo de escalado que se va a trabajar, los aumentos y disminuciones por talla.
        .row.justify-content-center
            .col-11
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Hacer el análisis del cuadro de tallas.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Hacer el análisis de diferencia por talla e identificar la medida aplicar en el escalado.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Hacer el análisis de los puntos de escalado que se van a referenciar o modificar.
        .row.justify-content-center.mt-4
            .col-11
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/zkT1YOljFq4', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_161.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Escalado de falda - Femenino
    
    br#escalado2

    .header-ecored
        h2 1.2 Escalado de base con pinzas - superior
    
    .jumbotron.bg-white.shadow
        p Cuando se va a iniciar con el proceso de escalado, se debe tener en cuenta referencias como cuadros de tallas, metodología y lógica de construcción, pieza o molde que se va escalar, es decir en este caso se hace referencia a una base superior femenina con pinzas, quiere decir un molde que no tiene margen de costura, ni es una prenda, se trabajará el escalado de una base en las diferentes tallas, de igual manera se debe tener en cuenta el tipo de escalado que se va a trabajar, los aumentos y disminuciones por talla.
        .row.justify-content-center
            .col-11
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Hacer el análisis del cuadro de tallas.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Hacer el análisis de diferencia por talla e identificar la medida aplicar en el escalado.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Hacer el análisis de los puntos de escalado que se van a referenciar o modificar.
        .row.justify-content-center.mt-4
            .col-11
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/gASgA-dGS5E', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_162-1.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Escalado de base con pinzas - superior (1)
        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_162-2.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Escalado de base con pinzas - superior (2)
    
    br#escalado3

    .header-ecored
        h2 1.3 Escalado de básico de pantalón
    
    .jumbotron.bg-white.shadow
        p Cuando se va a iniciar con el proceso de escalado, se debe tener en cuenta referencias como cuadros de tallas, metodología y lógica de construcción, pieza o molde que se va escalar, es decir en este caso se hace referencia a una base inferior de pantalón, quiere decir un molde que no tiene margen de costura, ni es una prenda, se trabajará el escalado de una base en las diferentes tallas, de igual manera se debe tener en cuenta el tipo de escalado que se va a trabajar, los aumentos y disminuciones por talla.
        .row.justify-content-center
            .col-11
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Hacer el análisis del cuadro de tallas.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Hacer el análisis de diferencia por talla e identificar la medida aplicar en el escalado.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Hacer el análisis de los puntos de escalado que se van a referenciar o modificar.
        .row.justify-content-center.mt-4
            .col-11
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/7yQa962uArY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_163.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Escalado básico de pantalón
       
    br#escalado4

    .header-ecored
        h2 1.4 Escalado cortes, manga, cuello
    
    .jumbotron.bg-white.shadow
        p Cuando se va a iniciar con el proceso de escalado, se debe tener en cuenta referencias como cuadros de tallas, metodología y lógica de construcción, pieza o molde que se va escalar, es decir en este caso se hace referencia a prendas que ya han sido modificadas, que pueden tener margen de costura y validaciones como producto final, se trabajará el escalado en diferentes tallas, de igual manera se debe tener en cuenta el tipo de escalado que se va a trabajar, los aumentos y disminuciones por talla.
        .row.justify-content-center
            .col-11
                .list.align-items-start.mt-4
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Hacer el análisis del cuadro de tallas.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Hacer el análisis de diferencia por talla e identificar la medida aplicar en el escalado.
                .list.align-items-start.mt-2
                    .list__item
                        .list__item__icon
                            img(src="assets/images/pages/v1.svg").img-fluid  
                    .list__txt
                        p.mt-1 Hacer el análisis de los puntos de escalado que se van a referenciar o modificar.
        img(src="assets/images/pages/img18.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.mt-4
            .col-11
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/5r4mM6naN40', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_164.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Cortes, manga, cuello - escalado
    
    br#escalado5

    .header-ecored
        h2 1.5 Base superior masculina - análisis de escalado bibásico
    
    .jumbotron.bg-white.shadow
        p En la metodología del manual de patronaje SENA, se identifican análisis y modificaciones en cada una de las líneas, es decir femenino tiene un manejo diferente a masculino e infantil, en infantil y en masculino se suelen trabajar medidas deducidas, partiendo en la mayoría de las veces de solo dos medidas del cuerpo y dejando de lado el cuadro de tallas. Con el fin de explorar y afianzar un poco más las diferentes formas y técnicas de escalado, en esta ocasión se trabajará un escalado bibásico tomando como referencia dos moldes de diferentes tallas o tallas de por medio en el vídeo identificará de qué manera puede hacer el trazo y el análisis de lo que se va a trabajar.
        p Este tipo de escalado se implementa para evitar el análisis al cuadro de tallas haciendo análisis únicamente desde la construcción o desde la parte anatómica lógica del molde, despiece o la pieza.
        img(src="assets/images/pages/img19.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.mt-4
            .col-11
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/xQx9dFGrOc8', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_165.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Base suoerior masculina - análisis de escalado bibásico
    
    br#escalado6

    .header-ecored
        h2 1.6 Análisis y construcción de cuadro de tallas masculino - dxt escalado
    
    .jumbotron.bg-white.shadow
        p En la metodología del manual de patronaje SENA, en la línea de masculino e infantil se debe identificar cuál es la fórmula o el tipo de construcción de los planos o moldes para poder tener las medidas e incrementos por talla que se van a trabajar en el escalado. Si bien se identifica en el manual un cuadro de tallas para cada una de estas líneas, se debe tener en cuenta que desde la construcción, por lo menos en las bases superiores, no se trabaja con el cuadro de tallas; es decir, que se debe hacer la construcción y el análisis del cuadro de tallas basándose en las fórmulas que indica cada una de las construcciones de las bases que se están trabajando, esto con el fin de poder identificar las diferencias por tallas que se van a aplicar en el escalado.
        p Ya después de tener la construcción del cuadro de tallas o identificar las tallas reales que se aplican sobre el trazo o molde se debe hacer el análisis de los puntos y movimientos de escalado que se van a referenciar o modificar.
        img(src="assets/images/pages/img20.png", style="max-width: 100%").img-fluid.img-a
        .row.justify-content-center.mt-4
            .col-11
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/8B67K33OgdQ', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_166-2.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Análisis y construcción de cuadro de tallas masculino - DXT escalado (1)
        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_166-1.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Análisis y construcción de cuadro de tallas masculino - DXT escalado (2)
    
    br#escalado7

    .header-ecored
        h2 1.7 Modificación de moldes - análisis sobre medidas
    
    .jumbotron.bg-white.shadow
        p Dentro del desarrollo de prendas y escalado de moldes, se debe tener en cuenta que en algunas ocasiones se hace un análisis sobre medidas o sobre requerimientos de clientes específicos, alguna de ellas puede ser modificaciones por talles, por anchos o por contornos. Este tipo de modificaciones se deben tener en cuenta al momento de realizar las prendas. En este vídeo encontrará una explicación general de cómo y qué manera puede implementar este tipo de modificaciones sobre todos los moldes que se han venido desarrollando a lo largo del programa.
        .row.justify-content-center.mt-4
            .col-11
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/1iGARcb9woY', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_167.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Modificación de moldes - análisis sobre medidas