.container#optitex

    .header-ecored
        h1 2. Escalado en Optitex
    
    .jumbotron.bg-white.shadow
        p A nivel general, el escalado digital o a través de un software de patronaje se trabaja de la misma manera o con el mismo análisis que se hace de forma manual, en esta ocasión únicamente se va a trabajar la programación, interfaz y herramientas del programa para hacer cualquier tipo de escalado, se tomará como referente únicamente la base de falda, sin embargo, estos mismos pasos y esta misma configuración aplica para cualquier tipo de base, prenda, trazo, molde o interpretación.
        .row.justify-content-center.mt-4
            .col-11
                .embed-responsive.embed-responsive-16by9
                    iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/7hRd_Ajd1bM', frameborder='0', allow='accelerometer; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')
        section.mt-4
            .row.justify-content-center
                .col-auto
                    a(href="media/documentos/Anexo_17.pdf" target="_blank").media-link
                        img(src="assets/images/icons/icon_pdf.svg", alt="").media-link-icon
                        .media-link-title
                            p Escalado en Optitex Versión 11