.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white

        p
            strong.mr-2 Atributos del producto:
            | son las cualidades o características del producto como color, tamaño.
        hr
        p
            strong.mr-2 Defecto:
            | es una no conformidad en características requeridas por el cliente o una norma y que causa incumplimiento del requisito y por tanto insatisfacción del cliente. 

        hr
        p
            strong.mr-2 ISO:
            | Organización Internacional de Estandarización, ubicada en Ginebra Suiza y tiene presencia en 193. Promueve y desarrolla normas para estandarizar productos y servicios.
        hr
        p
            strong.mr-2 Lote:
            | número establecido de una producción, las cuales tienen características comunes y se agrupan dependiendo de un objetivo determinado.   
        hr
        p
            strong.mr-2 Mariposa:
            | pieza del panty ubicada entre el tiro y la entrepierna para proteger y dar comodidad en la parte íntima femenina.
        hr
        p
            strong.mr-2 Punto de control:
            | son determinados con la metodología de árbol de decisión. Son las operaciones, faces o procesos que requieren realizar inspecciones para controlar la ocurrencia de defectos, lo cual es una medida preventiva.
        hr
        p
            strong.mr-2 Punto de control crítico:
            | operaciones, faces o procesos que requiere de riguroso control debido a que representa alto riesgo de presentar defectos y por tanto no cumplir con los requisitos.
        hr
        p
            strong.mr-2 Sigma (σ):
            | es una letra del alfabeto griego, utilizada en representar la desviación estándar (unidad estadística de medición), representa la dispersión o variabilidad de un conjunto de datos.
        hr
        p
            strong.mr-2 Variables de calidad:
            | cuantificación de las cualidades del producto. Ejemplo: carta de colores de la prenda.