.container#page-introduccion

    .header-ecored
        h1 Introducción

    .jumbotron.bg-white 
      .jumbotron.mb-0(style="background-color:#FFD54F")
        .row.justify-content-center.align-items-center
          .col-auto.mb-5.mb-lg-0
            img(src="assets/images/pages/introduccion/img_intro_01.svg", alt="", style="width:100%") 
          .col-12.col-lg 
            h2(style="color:#4E239A; font-weight:800;") ¡Bienvenidos!
            p.mb-0(style="color:#4E239A") En este componente se abordará todas #[strong las bases de fundamentación para llevar a cabo todo tipo de escalado,] así mismo, se presenta las herramientas para trabajar los cuadros de tallas, atendiendo las diversas líneas femenina, masculina, adulto o  infantil, lo anterior permite atender la realización de trabajos personalizados o con requerimientos específicos, dependiendo siempre del tipo de cliente, marca o industria.
      
                

        
