.container#tema_1_3

    .header-ecored
      h1 1.3 Escalado de básico de pantalón 

    .jumbotron.bg-white       
      .row
        .col-12.mb-4
          .jumbotron.mb-0
            p.mb-0 De igual manera en las prendas inferiores, en el caso de trabajar un básico de pantalón, se sigue el procedimiento de escalado, quiere decir un molde que no tiene margen de costura, ni es una prenda. Para este caso es importante verificar todas las medidas y su correspondencia tanto en posterior y delantero, por ejemplo, que las medidas de los laterales sean iguales, además en la entrepierna; otro lado de especial atención es el tiro, para que no afecte la horma de la prenda.

        .col-12.mb-4
          .card.mb-0
            .embed-responsive.embed-responsive-16by9
              iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/7yQa962uArY', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')    

        .col-auto 
          a(href="media/anexos/Anexo_Escalado_Pantalon.pdf",target="_blank",style="color:#12263F") 
            .jumbotron(style="background-color:#CDC3EA;").mb-0.p-4
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/pages/icons/icon_media_pdf.svg", alt="", style="width:55px")
                .col
                  p.mb-0 #[strong Anexo.] Escalado de básico de pantalón 