.container#tema_1

    .header-ecored
      h1 1. Escalado manual de prendas

    .jumbotron.bg-white       
      .row.mb-4
        .col-12 
          h2 Introducción y contextualización - escalado 
      .row.justify-content-center.align-items-center.mb-5 
        .col-auto.mb-5.mb-lg-0 
          img(src="assets/images/pages/tema_1/img_1_01.svg", alt="", style="width:100%")
        .col-12.col-lg 
          p.mb-0 Es el método o técnica implementado para ampliar o reducir un patrón base, molde o trazo de una talla a otra proporcionalmente. Las proporciones se identifican de acuerdo con el cuadro de tallas o medidas estandarizadas, para llevar a cabo un escalado se implementan planos cartesianos que permiten identificar puntos de referencia, en las medidas de largos, anchos y contornos con sus proporciones que se diferencian entre una talla y otra.
      
      .row.mb-5
        .col-12
          h2(style="color:#673AB7; font-weight:800;") Plano cartesiano
          p Está formado por dos rectas perpendiculares, una horizontal y otra vertical que se entrecruzan en un punto.

      .row.justify-content-center.align-items-center.mb-5 
        .col-auto.mb-5.mb-lg-0 
          img(src="assets/images/pages/tema_1/img_1_02.svg", alt="", style="width:100%")
        .col-12.col-lg.ml-0.ml-lg-5
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong La recta horizontal] es llamada eje de las abscisas o de las equis #[strong (x)].
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong La recta vertical], eje de las ordenadas o de las yes, #[strong (y).]
          .list.mb-3
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong El punto donde se cortan] recibe el nombre de origen #[strong (punto cero o punto muerto).]
      
      .row.justify-content-center.mb-5 
        .col-12.mb-5
          p #[strong El plano cartesiano tiene como finalidad describir la posición de puntos], los cuales se representan por sus coordenadas o pares ordenados. Para la implementación del plano cartesiano trabajaremos con el #[strong sistema de medidas de mayor dominio.]
        .col-auto
          .pill(style="padding:1rem 2rem; border: 3px solid #BA68C8; border-radius:999px") 
            p.mb-0 Sistema de medida universal: #[strong metro - centímetro - milímetro]

      .row.mb-5 
        .jumbotron.mb-0(style="background-color:#E2D2FF;")
          h2(style="color:#673AB7") Ejemplo 
          p.mb-5 Si tomamos como punto de partida el #[strong punto de origen] al hablar de reducir o aumentar, podríamos acudir a los espacios negativos o positivos del plano cartesiano, según corresponda.
          .row.justify-content-center 
            .col-12.mx-0.mr-lg-5.col-lg-auto.mb-5.mb-lg-0 
              .jumbotron.mb-0(style="background-color:white;")
                h2(style="color:#673AB7;") Aumenta 
                .pill.mb-3(style="padding:1rem 2rem; border: 3px solid #BA68C8; border-radius:999px") 
                  p.mb-0 Ancho: 3 Largo: 1
                .pill(style="padding:1rem 2rem; border: 3px solid #BA68C8; border-radius:999px") 
                  p.mb-0 Ancho: 1 Largo: 3              
            .col-12.col-lg-auto
              .jumbotron.mb-0(style="background-color:white;")
                h2(style="color:#673AB7;") Reduce 
                .pill.mb-3(style="padding:1rem 2rem; border: 3px solid #BA68C8; border-radius:999px") 
                  p.mb-0 Ancho: 3 Largo: 1
                .pill(style="padding:1rem 2rem; border: 3px solid #BA68C8; border-radius:999px") 
                  p.mb-0 Ancho: 1 Largo: 3

      .row.justify-content-center.mb-5 
        .col-12.col-md-8.col-lg-4.mb-5 
          img(src="assets/images/pages/tema_1/img_1_03.svg", alt="",style="width:100%;")
        .col-12.col-md-8.col-lg-4.mb-5 
          img(src="assets/images/pages/tema_1/img_1_04.svg", alt="",style="width:100%;")
        .col-12.col-md-8.col-lg-4.mb-0
          img(src="assets/images/pages/tema_1/img_1_05.svg", alt="",style="width:100%;")

      .row.justify-content-center.mb-5 
        .col-12.mb-4
          h2(style="color:#673AB7; font-weight:800;") Ejemplo
          p Para entender cómo funciona el escalado desde plano cartesiano, vamos a tomar como referencia un cuadrado, este cuadrado es el molde base o talla base a trabajar, para mayor comprensión de este cuadrado deben salir dos figuras más para un total de tres figuras, siendo este el punto intermedio.
        .col-auto.mb-3
          .pill(style="padding:1rem 2rem; border: 3px solid #BA68C8; border-radius:999px") 
            p.mb-0 La diferencia en #[strong ancho] es de #[strong 2cm]
        .col-auto.mb-5
          .pill(style="padding:1rem 2rem; border: 3px solid #BA68C8; border-radius:999px") 
            p.mb-0 La diferencia en #[strong largo] es de #[strong 2cm]
        .col-12 
          p Se debe sacar un cuadrado más pequeño y un cuadrado más grande. Recuerde que todos los lados del cuadrado deben quedar iguales.

      .row.justify-content-center.mb-2
        .col-12.mb-4
          h2(style="color:#673AB7; font-weight:800;") Análisis sobre plano cartesiano
      
      .row(style="padding:2rem; border-radius:15px; background-color:#CBD9E4").justify-content-center.mb-5
        .col-12(style="background-color:white;")
          #carouselExampleIndicators.carousel.slide(data-ride='carousel')
            ol.carousel-indicators
              li.active(data-target='#carouselExampleIndicators', data-slide-to='0')
              li(data-target='#carouselExampleIndicators', data-slide-to='1')
              li(data-target='#carouselExampleIndicators', data-slide-to='2')
              li(data-target='#carouselExampleIndicators', data-slide-to='3')
              li(data-target='#carouselExampleIndicators', data-slide-to='4')
              li(data-target='#carouselExampleIndicators', data-slide-to='5')
              li(data-target='#carouselExampleIndicators', data-slide-to='6')
              li(data-target='#carouselExampleIndicators', data-slide-to='7')
            .carousel-inner
              .carousel-item.active
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_1_01.png', alt='0')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_1_02.png', alt='1')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_1_03.png', alt='2')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_1_04.png', alt='3')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_1_05.png', alt='4')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_1_06.png', alt='5')
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_1_07.png', alt='6')   
              .carousel-item
                img.d-block.w-100(src='assets/images/pages/tema_1/slider_1_08.png', alt='7')                             
                                                  
            a.carousel-control-prev(href='#carouselExampleIndicators', role='button', data-slide='prev')
              span.carousel-control-prev-icon(aria-hidden='true')
              span.sr-only Previous
            a.carousel-control-next(href='#carouselExampleIndicators', role='button', data-slide='next')
              span.carousel-control-next-icon(aria-hidden='true')
              span.sr-only Next

      .row.justify-content-center.mb-5
        .col-auto 
          a(href="media/anexos/Anexo_Analisis_Plano_Cartesiano.pdf",target="_blank",style="color:#12263F") 
            .jumbotron(style="background-color:#CDC3EA;").mb-5.p-4
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/pages/icons/icon_media_pdf.svg", alt="", style="width:55px")
                .col
                  p.mb-0 #[strong Anexo.] Análisis sobre el plano cartesiano

      .row.mb-3 
        .col-12.mb-4
          h2(style="color:#673AB7; font-weight:800;") Conclusiones
        .col-12 
          .jumbotron.mb-0(style="background-color:#BA68C8")
            p(style="color:#00223D; font-size:16pt; font-weight:800").mb-0 El manejo del punto de origen - punto cero - punto muerto, es el primer acercamiento a la comprensión de #[strong(style="color:#FFD54F;") trasladar, modificar, mover puntos de referencia o construcción.]

      .row.mb-5 
        .col-12 
          .jumbotron.mb-4(style="background-color:#F8F3FF")
            p El concepto de positivo o negativo sobre el plano depende del punto de origen; aplicar en escalado se refiere a cada vez que se trabaja una medida sobre el plano cartesiano:
            .list.mb-3
              .list__item
                .list__item__icon
                  img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
              .list__txt
                p.mb-0 Negativa = reducción
            .list
              .list__item
                .list__item__icon
                  img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
              .list__txt
                p.mb-0 Positiva = aumento

      .row.mb-5
        .col-12
          h2(style="color:#673AB7; font-weight:800;") Proporciones

        .col-12 
          .row 
            .col-12.col-lg-6.mb-4 
              p(style="font-size:18pt; font-weight:600;") En escalado son #[span(style="color:#BA68C8;") medidas de los aumentos o disminuciones secuenciales] para obtener tallas mayores o menores, moldes o bases.
            .col-12.col-lg-6 
              p Se debe identificar la diferencia en unidades de medida usada, es decir, centímetros, entre talla y talla, en cada medida del cuerpo (largos, anchos, contornos).
              p La medida identificada como diferencia es sobre la que se hace el análisis de construcción, dependiendo el tipo de plano, molde o trazo.
      
      .row.mb-5 
        .col-12
          h2(style="color:#673AB7; font-weight:800;") Ejemplo
        .col-12.col-lg-6
          p.mb-4 Para identificar las proporciones a usar se debe trabajar con las siguientes medidas. En este caso el punto base o el punto de partida es el mediano, la diferencia entre medida y medida es: 
          .row 
            .col-auto       
              .jumbotron.mb-0
                p.mb-0 #[strong 2cm para aumentar y -2cm para reducir.]
        .col-12.col-lg-6 
          p.mb-4 Para aplicar el escalado se trabaja con las proporciones, no con la diferencia.
          img(src="assets/images/pages/tema_1/tabla_1_01.svg", alt="", style="width:450px")

      .row.mb-5
        .col-12
          h2(style="color:#673AB7; font-weight:800;") Cómo identificar las proporciones
        .col-12 
          p Si la diferencia entre una medida y otra es de 2cm. La proporción equivale a la manera en la que se aplica en el plano, es decir:
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Si sobre el plano se aplica la medida completa,] dicha medida equivale a una proporción, entonces una proporción será 2cm.
          .list
            .list__item
              .list__item__icon
                img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
            .list__txt
              p.mb-0 #[strong Si sobre el plano se aplica la mitad de la medida,] esto equivale a 1/2 proporción, 1/2 proporción será 1 cm.
      
      .row.justify-content-center.mb-5 
        .col-12.col-md-8.col-lg-5.mr-0.mr-lg-5.mb-5 
          img(src="assets/images/pages/tema_1/info_1_01.svg", alt="",style="width:100%")
        .col-12.col-md-8.col-lg-5
          img(src="assets/images/pages/tema_1/info_1_02.svg", alt="",style="width:100%")

      .row.mb-5
        .col-12
          h2(style="color:#673AB7; font-weight:800;") Ejercicio de análisis
          p Realice el #[strong escalado de la siguiente figura] teniendo en cuenta:

      .row.mb-5
        .col-auto.mb-4
          .pill(style="padding: 1rem 2rem; border-radius: 999px; background-color:#FFE292;")
            p.mb-0 El cuadro de tallas asignado
        .col-auto.mb-4 
          .pill(style="padding: 1rem 2rem; border-radius: 999px; background-color:#FFE292;")
            p.mb-0 La talla base y las medidas
        .col-auto.mb-4 
          .pill(style="padding: 1rem 2rem; border-radius: 999px; background-color:#FFE292;")
            p.mb-0 Las diferencias entre talla y talla
        .col-auto.mb-4
          .pill(style="padding: 1rem 2rem; border-radius: 999px; background-color:#FFE292;")
            p.mb-0 La asignación de proporciones, según tipo de plano a trabajar
        .col-auto.mb-4 
          .pill(style="padding: 1rem 2rem; border-radius: 999px; background-color:#FFE292;")
            p.mb-0 El punto de origen sobre el plano cartesiano y la ubicación de la figura

      .row.justify-content-center.mb-5
        .col-12.col-md-9.col-lg-6.mb-5 
          img(src="assets/images/pages/tema_1/tabla_1_02.svg", alt="", style="width:100%")
          .row 
            .col 
              .jumbotron.mb-0.p-4 
                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 El cuadro de tallas asignado.
                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 La talla base y las medidas
                .list
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-0 Las diferencias entre talla y talla
                
        .col-12.col-md-9.col-lg-6
          img(src="assets/images/pages/tema_1/tabla_1_03.svg", alt="", style="width:100%")
          .row 
            .col 
              .jumbotron.mb-0.p-4                 
                p.mb-0 Asignación de proporciones, plano por mitad.

      .row.justify-content-center.align-items-center.mb-5 
        .col-auto 
          img(src="assets/images/pages/tema_1/img_1_06.svg", alt="", style="width:100%")
        .col-12.col-lg 
          .jumbotron.mb-0
            p En este caso que el punto de origen está en un punto que divide el largo total.
            p.mb-0 Se debe tomar la proporción y aplicar mitad hacia arriba - mitad hacia abajo para el largo total y no perder la proporción de la figura.

      .row.justify-content-center.align-items-center.mb-5         
        .col-12.col-lg.mb-5.mb-lg-0 
          .jumbotron.mb-0
            p En este caso que el punto de origen está en un punto base de construcción.
            p.mb-0 Se debe tomar la proporción y aplicar toda hacia arriba para largo total y no perder la proporción de la figura. Sin embargo, debe tener en cuenta el vértice A.b modifica a su altura, para no perder la proporción de la figura.
        .col-auto 
          img(src="assets/images/pages/tema_1/img_1_07.svg", alt="", style="width:100%")

      .row.mb-5
        .col-12
          h2(style="color:#673AB7; font-weight:800;") Ejercicio de elaboración
          p Teniendo en cuenta el ejercicio de análisis y sus respectivas explicaciones realice el escalado de la figura en todas las tallas, con los dos puntos de origen propuestos en la explicación anterior.
          p Para poder realizar dicha actividad necesita: 
      
      .row.justify-content-center.mb-5.mb-lg-6 
        .col-6.col-lg-3
          .row.justify-content-center  
            .col-12        
              img(src="assets/images/pages/tema_1/icon_1_01.svg", alt="", style="display:block; margin:auto; width:150px;")         
            .col-auto
              .pill(style="padding:0.65rem 1.5rem; border: 3px solid #BA68C8; border-radius:999px;") 
                p.mb-0 Lápiz
        .col-6.col-lg-3
          .row.justify-content-center  
            .col-12        
              img(src="assets/images/pages/tema_1/icon_1_02.svg", alt="", style="display:block; margin:auto; width:150px;")         
            .col-auto
              .pill(style="padding:0.65rem 1.5rem; border: 3px solid #BA68C8; border-radius:999px;") 
                p.mb-0 Lápices de colores
        .col-6.col-lg-3
          .row.justify-content-center  
            .col-12        
              img(src="assets/images/pages/tema_1/icon_1_03.svg", alt="", style="display:block; margin:auto; width:150px;")         
            .col-auto
              .pill(style="padding:0.65rem 1.5rem; border: 3px solid #BA68C8; border-radius:999px;") 
                p.mb-0 Papel
        .col-6.col-lg-3
          .row.justify-content-center  
            .col-12        
              img(src="assets/images/pages/tema_1/icon_1_04.svg", alt="", style="display:block; margin:auto; width:150px;")         
            .col-auto
              .pill(style="padding:0.65rem 1.5rem; border: 3px solid #BA68C8; border-radius:999px;") 
                p.mb-0 Reglas en cm

      .row.mb-5 
        .col-12.mb-3
          h2(style="color:#673AB7; font-weight:800;") Tipos de escalado
        .col-12
          nav.nav-tab-ecored.mb-5
            #nav-tab.nav.nav-tabs(role='tablist')
              a#nav-01-tab.nav-item.nav-link.active(data-toggle='tab', href='#nav-01', role='tab', aria-controls='nav-01', aria-selected='true') 
                strong Escalado monobásico
              a#nav-02-tab.nav-item.nav-link(data-toggle='tab', href='#nav-02', role='tab', aria-controls='nav-02', aria-selected='false') 
                strong Escalado bibásico
              a#nav-03-tab.nav-item.nav-link(data-toggle='tab', href='#nav-03', role='tab', aria-controls='nav-03', aria-selected='false') 
                strong Escalado tribásico
                
            #nav-tabContent.tab-content
              #nav-01.tab-pane.fade.show.active(role='tabpanel', aria-labelledby='nav-01-tab')
                p Partiendo de tallas base se obtienen las demás por aumento o reducción.
                p En este caso los incrementos entre tallas se mantienen constantes en toda la serie.
                p Crecimiento de estatura se produce aumentando ancho y largos, llamándose también escalado de crecimiento real.
                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-2 #[strong Simple o relativo/diferencial]
                    p.mb-0 Se aplica cuando los incrementos de tallas varían dentro de la serie ejemplo, no se produce incremento de estatura, solo anchos.
                .list.mb-3
                  .list__item
                    .list__item__icon
                      img(src="assets/images/icons/icon_custom_chevron.svg", alt="")
                  .list__txt
                    p.mb-2 #[strong Compuesto o absoluto proporcional]
                    p.mb-0 Los incrementos entre tallas se mantienen constantes en toda la serie, por ejemplo, se produce incremento de estatura, se aumenta anchos y largos, llamado también escalado de crecimiento real.         

              #nav-02.tab-pane.fade(role='tabpanel', aria-labelledby='nav-02-tab')
                p Tomamos dos tallas básicas para obtener una intermedia, lo ideal es disponer de dos patrones, talla prototipo y talla límite.
                p Superponer patrón prototipo en el patrón límite con base en líneas comunes, una horizontal y una vertical.
                p.mb-0 Las tallas intermedias se trazan uniendo los vértices de ambos patrones por medio de puntos y dividiéndolos por el número de patrones a hallar.

              
              #nav-03.tab-pane.fade(role='tabpanel', aria-labelledby='nav-03-tab')
                p.mb-0 Se toman tres tallas para obtener una intermedia, por ejemplo, 10 – 14 – 18 para obtener la intermedia 12 - 16.

      .row.mb-3
        .col-12.mb-3
          h2(style="color:#673AB7; font-weight:800;") Análisis de cuadros de tallas
          p Para el análisis de cuadros de tallas se determinan:

      .row.justify-content-center.mb-3
        .col-10.col-lg-4(style="overflow:hidden;").mb-5
          .container(style="height:100%")
            img(src="assets/images/pages/tema_1/img_1_08.svg", alt="", style="width:100%")
            .bodyContainer.bodyContainer(style="height:100%; padding:2rem; background-color:#F8F3FF; border-top: 5px solid #FFD54F;")
              p.mb-2 #[strong Límites]
              p.mb-0 La más pequeña y la más grande.

        .col-10.col-lg-4(style="overflow:hidden;").mb-5
          .container(style="height:100%")
            img(src="assets/images/pages/tema_1/img_1_09.svg", alt="", style="width:100%")
            .bodyContainer.bodyContainer(style="height:100%; padding:2rem; background-color:#F8F3FF; border-top: 5px solid #FFD54F;")
              p.mb-2 #[strong Frecuencia]
              p.mb-0 Aumento de medida talla a talla (secuencial y no secuencial - constantes y variables).

        .col-10.col-lg-4(style="overflow:hidden;").mb-5
          .container(style="height:100%")
            img(src="assets/images/pages/tema_1/img_1_10.svg", alt="", style="width:100%")
            .bodyContainer.bodyContainer(style="height:100%; padding:2rem; background-color:#F8F3FF; border-top: 5px solid #FFD54F;")
              p.mb-2 #[strong Incremento]
              p.mb-0 Magnitud de crecimiento de la medida talla por talla.

        .col-12 
          p El análisis de los anteriores dará como resultado: #[strong valores – proporciones - rupturas de talla.]
       
      .row.mb-5
        .col-12.mb-3          
          p En este caso se hace el análisis desde la talla base hasta la ruptura, identificando las medidas #[strong aplicar en el escalado del patrón base.]        
        .col-auto 
          a(href="media/anexos/Anexo_Introduccion_Contextualizacion_Escalado.pdf",target="_blank",style="color:#12263F") 
            .jumbotron(style="background-color:#CDC3EA;").mb-5.p-4
              .row.justify-content-center.align-items-center
                .col-auto
                  img(src="assets/images/pages/icons/icon_media_pdf.svg", alt="", style="width:55px")
                .col
                  p.mb-0 #[strong Anexo.] introducción y contextualización - escalado

      .row.mb-3
        .col-12.col-lg-6.mb-3
          h2(style="color:#673AB7; font-weight:800;") Para el procedimiento de patronaje en todas las prendas se debe tener en cuenta:
        .col-12
          p Al iniciar el proceso de escalado para trabajar los casos a realizar a continuación, utilizar referentes como cuadros de tallas, metodología y lógica de construcción, pieza o molde que se va  a escalar, si son prendas básicos o desarrollo de diseños, si se incluye o no margen de costura y las validaciones necesarias como producto final o insumo en el caso de básico para el desarrollo de otros modelos o análisis de tallaje, se trabaja el escalado en diferentes tallas propuestas, de igual manera se debe tener en cuenta el tipo de escalado que se va a trabajar, los aumentos y disminuciones por talla.      
       
      .row
        .col-auto.mb-4
          .pill(style="padding: 1rem 2rem; border-radius: 999px; background-color:#FFE292;")
            p.mb-0 Hacer el análisis del cuadro de tallas    
        .col-auto.mb-4
          .pill(style="padding: 1rem 2rem; border-radius: 999px; background-color:#FFE292;")
            p.mb-0 Hacer el análisis de diferencia por talla e identificar la medida a aplicar en el escalado 
        .col-auto.mb-4
          .pill(style="padding: 1rem 2rem; border-radius: 999px; background-color:#FFE292;")
            p.mb-0 Hacer el análisis de los puntos de escalado que se van a referenciar o modificar  




    
        







      

